<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @user.name %></h1>
    <p>
    A Message was updated from the conversation: <%= @conversation.name %>
    </p>
    <p>
      Message id: <%= @message.id %>.
    </p>
    <p>
      Message content: <%= @message.content %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
