<div class="container">
  <div class="row">
    <div class="col-4">
      <h3>Conversations</h3>
      <%= link_to "New Conversation", new_conversation_path %>
      <div class="list-group">
        <% @conversations.each do |conversation| %>
          <%= link_to conversation.name, conversation_messages_path(conversation), class: "list-group-item list-group-item-action" %>
        <% end %>
      </div>
    </div>
    <div class="col-8">
    </div>
  </div>
</div>
