<h1 class="d-flex justify-content-center" ><%= @conversation.name.upcase %></h1>
<div class="d-flex align-items-start flex-column border rounded p-3">
  <%= render partial: "partials/message", collection: @conversation.messages %>
</div>
<%= render partial: "partials/message_form", message: @message %>
